{% autoescape off %}
{% load i18n %}

{% blocktrans %}Hi{% endblocktrans %} {{ user.get_username }},

{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Instaliker.{% endblocktrans %}

{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'instagram:password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Your username, in case you’ve forgotten:{% endblocktrans %} {{ user.get_username }}

{% blocktrans %}Thanks for using our site!{% endblocktrans %}

{% blocktrans %}The Instaliker Support team{% endblocktrans %}
{% endautoescape %}
